*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

@font-face {
  font-family: "groovy";
  src: url(./fonts/AbstractGroovy-K7Zdy.ttf)
}

App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content 10vh auto;
  grid-template-areas:
    'header'
    'nav'
    'main';
}

header {

background-color: #e05e07;
background-image: url(images/7.png);
background-repeat: no-repeat;
background-position: center;
display: flex;

  grid-area: header;
  text-align: center;
  height: 30vh;
  justify-content: center;
align-items: center;
}

header h1 {
padding: 120px 40px 0 0;
font-size: 3.5em;
font-family: groovy;
}

.nav {
grid-area: nav;
 text-align: center;
  background-color: red;
  padding-bottom: 3rem;

}
#nav__links {
  display: flex;
  flex-direction: row;
}

#nav__link{
  padding : 1rem;
}
.main {
  grid-area: main;
  background-color: peachpuff;
}

#articles__header {
  background-color: peachpuff;
  margin: 0;
  padding: 50px;
  text-align: center;
}

#articlesList {
  margin: 0;
}

#article {
  background-color: white;
  border-style: solid;
  box-shadow: 5px 10px;
  margin: 3rem;
  margin-top: 0;
  border-radius: 25px;
  list-style: none;
}

#singlearticle{
  background-color: white;
  margin:auto;
  max-width: 80vw;
  max-height: auto;
}

.comments__listitem{
  list-style: none;
 grid-area: main;
 background-color: white;
 border-style: solid;
 box-shadow: 5px 10px;
 margin: 3rem;
 margin-top: 0;
 border-radius: 25px;
 list-style: none;
}

.AddComment {
  position: fixed;
  bottom: 0;
  background-color: #84dfc5;
}

#commentbox {
  text-align: center;
  height: 2rem;
  width: 500px;  
}


@media only screen and (min-width: 600px) {
.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    "header header"
    "nav main";
  grid-template-columns: 12rem auto;
    grid-template-rows: auto auto;
}
#nav__links {
  display: flex;
  flex-direction: column
  }
  .AddComment {
    position: relative;
    background-color: white;
   }

   
}

