* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "groovy";
  src: url(./fonts/AbstractGroovy-K7Zdy.ttf);
}


App {

}

header {
position:relative;
top:20px;
  background-image: url(images/hazelwood.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

header h1 {
  font-size: 5em;
  font-family: groovy, 'far out', serif;
  color: yellow;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header h3 {
  padding: 1px;
  font-size: 1.5em;
  color : navy;
  background-color: yellow;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.nav {
width: 100%;
text-align: center;
background-color: yellow;
position: fixed;
z-index: 1;
text-align: center;
}


#nav__link {
 color: navy;
}


main {
  background-color: lightgoldenrodyellow;
}

#articles__header {
  background-color: lightgoldenrodyellow;
  margin: 0;
  padding: 50px;
  text-align: center;
}

#articlesList {
  margin: 0;
}

#article {
  background-color: white;
  border-style: solid;
  box-shadow: 5px 10px;
  margin: 3rem;
  margin-top: 0;
  border-radius: 25px;
  list-style: none;
}

#singlearticle {
  background-color: white;
  margin: auto;
  max-width: 80vw;
  max-height: auto;
}

.comments__listitem {
  list-style: none;
  grid-area: main;
  background-color: white;
  border-style: solid;
  box-shadow: 5px 10px;
  margin: 3rem;
  margin-top: 0;
  border-radius: 25px;
  list-style: none;
}

.AddComment {
  position: fixed;
  bottom: 0;
  background-color: #84dfc5;
}

#commentbox {
  text-align: center;
  height: 2rem;
  width: 500px;
}

.sortbar{
  display: flex;
  flex-direction: row;
  width:25%;
  position:relative;
  top:20px;
  z-index: 1;
}

@media only screen and (min-width: 600px) {
  .App {
    text-align: center;
   
  }
  #nav__links {
  text-align: space-around;
  
  }

  #nav__link {
    padding: 10px;
    width:25%; 

    display:block;
    float:left;
  }

  .AddComment {
    position: relative;
    background-color: white;
  }
}
